{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue sur mon projet Cloud.</h1>

<h2>rahma benayad ยง</h2>

<p>Heure actuelle : {{ now|date('H:i:s') }}</p>

{% endblock %}
